spring:
  profiles:
    active: k8s
  config:
    import: optional:configserver:http://localhost:8888
  application:
    name: imposto-service
app:
  myport: ${PORT:0}
server:
  port: ${app.myport}
eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true #default
services:
  cerveja: CERVEJA-SERVICE
  fabricante: FABRICANTE-SERVICE