<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender class="ch.qos.logback.classic.net.SyslogAppender" name="PAPERTRAIL">
        <syslogHost>logs3.papertrailapp.com</syslogHost>
        <!-- gonami4952@exweme.com-->
        <!-- Infnet2024  -->
        <port>19915</port>
        <facility>USER</facility>
        <suffixPattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr([%X{traceId:-},%X{spanId:-}]]) %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta}
            %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint}
            %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}
        </suffixPattern>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSSXXX}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr(%applicationName[%15.15t]){faint} %clr(${LOG_CORRELATION_PATTERN:-}){faint}%clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}

            </Pattern>
        </layout>
    </appender>

    <logger name="com.zaxxer.hikari.pool.PoolBase" level="OFF"/>

    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <encoder>
            <pattern>
                %clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSSXXX}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr(%applicationName[%15.15t]){faint} %clr(${LOG_CORRELATION_PATTERN:-}){faint}%clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}
            </pattern>
        </encoder>
    </appender>

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="docker">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="PAPERTRAIL"/>
            <!-- <appender-ref ref="GELF"/> -->
        </root>
    </springProfile>
    <springProfile name="k8s">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="PAPERTRAIL"/>
            <!-- <appender-ref ref="GELF"/> -->
        </root>
    </springProfile>


</configuration>